<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <title>Peliculas</title>
</head>

<body>
    <%- include('./partials/header') %>

    <main class="mx-4">
        <h2><%= movie.title %></h2>
        <ul type="none">
            <li>Rating: <%= movie.rating %></li>
            <li>Premios: <%= movie.awards %></li>
            <li>Fecha de Salida: <%= movie.release_date %></li>
            <li>Duracion: <%= movie.length %>mins</li>
            <li> <%= movie.genre ? "Género: " + movie.genre.name : "" %> </li>
        </ul>
        
        <h3>Actores</h3>
        <ol>
            <% for( let i = 0; i < movie.actors.length; i++ ) { %>
                <li><%= movie.actors[i].first_name + " " + movie.actors[i].last_name %></li>
            <% } %>
        </ol>
        <a href="/movie/<%= movie.id %>/edit">Editar</a>
    </main>
    <hr>
    <footer>
        <h2>Footer</h2>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>